<h4>Entre com sua conta!</h4>
<div class="row">
    <div class="col-md-12">
        <form action="" method="POST" #form='ngForm' (ngSubmit)='signin(form)' novalidate>

            <!-- Input uid-->
            <div class="form-group">
                <label for="uid">Login</label>
                <input class="form-control" type="text" name="uid" id="uid" #uid="ngModel" [(ngModel)]='user.session.uid' required>

                <div class="error" *ngIf="form.submitted && uid.invalid">
                  <div *ngIf="uid.errors.required">Este campo é requerido!</div>
                </div>
            </div>

            <!-- Input password-->
            <div class="form-group">
                <label for="password">Senha</label>
                <input class="form-control" type="password" name="password" id="password" #password="ngModel" [(ngModel)]='user.session.password' required minlength="4">

                <div class="error" *ngIf='form.submitted && password.invalid'>
                  <div *ngIf="password.errors.required">Este campo é requerido!</div>
                  <div *ngIf="password.errors.minlength">Minímo 4 digítos!</div>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-sm" type="submit">Entrar</button>
            </div>

        </form>
    </div>
</div>
