<div class="container">
  <nav class="navbar navbar-light bg-light" style="background-color: #e3f2;">
    <!-- Navbar content -->
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Usuários</a>
      </li>
    </ul>
  </nav>
  <hr>
  <router-outlet></router-outlet>
</div>
